
<section class="w3l-clients" id="clients">
    <!-- /grids -->
    <div class="cusrtomer-layout py-5">
        <div class="container py-lg-4 py-md-3 pb-lg-0">
            <div class="heading text-center mx-auto">
                <h6 class="sub-title text-center">Misafirlerimiz Bizim İçin Ne Dediler?</h6>
                <h3 class="hny-title mb-md-5 mb-4">Görüşleriniz bizim için çok kıymetli</h3>
            </div>
            <!-- /grids -->
            <div class="testimonial-width">
                <div id="owl-demo1" class="owl-two owl-carousel owl-theme">
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
"Yunanistan, özellikle Santorini, kartpostallardaki gibi! Beyaz evler, mavi kubbeler ve deniz manzarası insanı büyülüyor. Atina’da ise tarih resmen ayağınızın altında. Akropolis inanılmazdı. Yunan mutfağı çok lezzetliydi, özellikle musakka ve tzatziki favorim oldu."
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="/Traversal-Starter/assets/images/c1.jpg" class="img-fluid" alt="client-img">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Ali Yılmaz</h3>
                                        <p class="indentity">Example City</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
"Londra tam bir tarih ve modernlik sentezi. British Museum’dan çıktıktan sonra Oxford Street’te alışveriş yapmak müthişti. Londra metrosunu ilk başta karışık buldum ama birkaç gün içinde alıştım. Hyde Park’ta yürüyüş yaparken huzuru, Camden Town’da ise enerjiyi hissettim."
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="/Traversal-Starter/assets/images/c2.jpg" class="img-fluid" alt="client-img">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Ayşe Çakır</h3>
                                        <p class="indentity">Example City</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                        "Bangkok tam anlamıyla kültürel bir patlama gibiydi! Tapınaklar, sokak yemekleri ve gece pazarları beni çok etkiledi. Wat Arun ve Grand Palace mutlaka görülmeli. Uzak doğu mutfağını denemek başta zor geldi ama sonra bayıldım. Tuk tuklarla dolaşmak da eğlenceliydi!"
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="/Traversal-Starter/assets/images/c3.jpg" class="img-fluid" alt="client-img">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Levent Yüksek</h3>
                                        <p class="indentity">Example City</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-content">
                            <div class="testimonial">
                                <blockquote>
                                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                                       "Kapadokya adeta başka bir gezegendeymişim gibi hissettirdi. Balon turuyla güne doğmak harikaydı. Peri bacalarının arasında yürüyüş yapmak, tarihi yerleri gezmek ve yerel yemekleri tatmak mükemmeldi. Tekrar gitmek için sabırsızlanıyorum!"
                                </blockquote>
                                <div class="testi-des">
                                    <div class="test-img">
                                        <img src="/Traversal-Starter/assets/images/c4.jpg" class="img-fluid" alt="client-img">
                                    </div>
                                    <div class="peopl align-self">
                                        <h3>Marie Curie</h3>
                                        <p class="indentity">Example City</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- /grids -->
    </div>
    <!-- //grids -->
</section>